@charset "utf-8";

/*mask*/
#lightbox-mask{width:100%;height:100%;position:fixed;z-index:3;left:0;top:0;background:#000;opacity:.5;filter:alpha(opacity=50);}
/*popup*/
#light-popup{width:300px;position:fixed;z-index:4;background:#fff;left:50%;top:0;margin-left:-150px;}

#light-popup .lightbox-pic-view{position:relative;border:5px solid #fff;border-radius:3px;overflow:hidden;background:url(../icon/loading.gif) no-repeat center center;}
#light-popup .lightbox-pic-view .lightbox-btn{position:absolute;top:0;width:40%;height:100%;z-index:1;cursor:pointer;}
#light-popup .lightbox-pic-view .lightbox-btn-prev{left:0;}
#light-popup .lightbox-pic-view .lightbox-btn-next{right:0;}
#light-popup .lightbox-pic-view .lightbox-btn-prev.show{background:url(../icon/prev.png) no-repeat left center;}
#light-popup .lightbox-pic-view .lightbox-btn-next.show{background:url(../icon/next.png) no-repeat right center;}
#light-popup .lightbox-pic-view .lightbox-img{display:block;}

#light-popup .lightbox-pic-caption{position:absolute;background:rgba(0,0,0,.5);bottom:5px;left:5px;right:5px;padding:10px 5px;color:#fff;}
#light-popup .lightbox-pic-caption .lightbox-of-index{color:#999;}
#light-popup .lightbox-pic-caption .lightbox-btn-close{position:absolute;right:10px;top:13px;width:27px;height:27px;background:url(../icon/close.png) no-repeat center center;}